---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Section from '../../components/ui/Section.astro';
import PublicationItem from '../../components/cards/PublicationItem.astro';
import TalkItem from '../../components/cards/TalkItem.astro';

const publications = (await getCollection('publications'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const talks = (await getCollection('talks'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<BaseLayout title="Research" description="Publications and talks">
  <Section title="Publications">
    {publications.map((e) => <PublicationItem entry={e} />)}
  </Section>
  <Section title="Talks">
    {talks.map((e) => <TalkItem entry={e} />)}
  </Section>
</BaseLayout>
