---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About hato.GNSS">
  <article>
    <h1>About</h1>
    <p>Bio content to be written.</p>
  </article>
</BaseLayout>
